<html>
    <head>
        <title>HOME</title>
        <style>
            body {
                background-color: #ff034490;
            }
            #title {
                text-align: center;
            }
            #topnav {
                display: block;
                background-color:#ff0099;
                

            }

        </style>
    </head>
    <body>
        <div id="topnav">
            <h1 id="title">This is My Website</h1>
        </div>
        <div>
{% block base %}

{% endblock base %}

        </div>
    </body>
</html>
